
/**** Fonts: ****/
@font-face{
    font-family: syncopate;
    src: url(syncopate_regular.ttf);
}
@font-face{
    font-family: syncopate;
    src: url(syncopate_bold.ttf);
    font-weight: bold;
}

/**** Variables: ****/
:root{
    /* root variables are available in the whole document.*/
    /* in this document the 'root' tag is the '<html>' tag.*/

    /* set the font-size to 62.5% to makes it easier to working with 'rem'.*/
    /* 62.5% font-size is equal to 10px and 1rem in most browsers*/
    font-size: 62.5%; /* 62.5% == 10px == 1rem */

    --my-color-light-green: #acbf64;
    --my-color-green: #809c13;
    --my-color-dark-green: #4e5f0c;

    --my-logo-pos-y: 5vw;
    --my-logo-pos-x: 5vw;
    --my-logo-width: 45vw;
    --my-logo-height: calc( var(--my-logo-width) * 0.439); /*<- height/width ratio, see in HTML.*/

    --my-island-pos-y: 7.5vw;
    --my-island-height: calc( 100vw * 0.532); /*<- height/width ratio, see in HTML.*/

    --my-skeleton-pos-y: calc( var(--my-island-pos-y) + var(--my-island-height) - 5vw );
    --my-skeleton-scrollspy-width: 20.0rem;
    --my-skeleton-footer-height: 10.0rem;
}



/**** SVGs: ****/
#id_sticky-container{
    position: absolute;
    top: 0;
    left: var(--my-logo-pos-x);
    width: var(--my-logo-width);
    height: calc(( var(--my-logo-height) * 1.2 ) + var(--my-skeleton-pos-y));
}
#id_vitjun_logo_3{
    background-image: url(vitjun_logo_3.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    position: sticky;
    top: var(--my-logo-pos-y);
    height: var(--my-logo-height);
}

#id_nordurstrond{
    background-image: url(nordurstrond_skuggi.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    top: var(--my-island-pos-y);
    width: 100%;
    height: var(--my-island-height);
}



/**** Skeleton: ****/
#id_skeleton-scrollspy{
    grid-area: a_skeleton-scrollspy;
}
#id_skeleton-main{
    grid-area: a_skeleton-main;
}
#id_skeleton-footer{
    grid-area: a_skeleton-footer;
    background-color: var(--my-color-green);
    padding: 0;
}

#id_skeleton{
    background-image: linear-gradient(to bottom, var(--my-color-light-green), 20%, white );
    position: absolute;
    top: var(--my-skeleton-pos-y);
    width: 100%;
    min-height: calc( 100vh - var(--my-skeleton-pos-y));
    /* grid: */
    display: grid;
    grid-template-columns: 1fr var(--my-skeleton-scrollspy-width);
    /*grid-auto-rows: minmax(10px, auto);*/ /* just so we can see the rows.*/
    grid-auto-rows: minmax(min-content, max-content);
    /* areas: */
    grid-template-areas:
        "a_skeleton-main    a_skeleton-scrollspy"
        "a_skeleton-footer  a_skeleton-footer";
}
/**** Responsive Skeleton: ****/
/* materializecss: s=0px-600px, m=601px-992px, l=993px-1200px and xl=1201 & above. */
@media screen and (max-width: 600px){
    /* this is only for 600px and less.*/
    #id_skeleton{
        grid-template-columns: 1fr;
        /* areas: */
        grid-template-areas:
            "a_skeleton-main"
            "a_skeleton-footer";
    }
}/*@medie*/



/*** Scrollspy: ***/
#id_vitjun{
    width: 100%;
    height: calc( var(--my-island-height) * 0.75 );
}

#id_scrollspy-container{
    position: fixed;
    top: 0;
    right: 0;
    width: var(--my-skeleton-scrollspy-width);
    height: 100vh;
}
#id_scrollspy-bg{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    padding: 5rem 0 5rem 0;
    /* blur-filter: */
    -webkit-backdrop-filter: blur(0.75rem);
    backdrop-filter: blur(0.75rem);
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5) 20% 80%, rgba(255, 255, 255, 0));
    /* shadow: */
    -webkit-box-shadow: 0 5px 5px 0 rgb(0 0 0 / 16%), 0 5px 10px 0 rgb(0 0 0 / 12%);
    box-shadow: 0 5px 5px 0 rgb(0 0 0 / 16%), 0 5px 10px 0 rgb(0 0 0 / 12%);
    /* box-shadow on only one sid: */
    clip-path: inset(0px 0px 0px -15px);
}
/* overriding materialize.css: */
#id_scrollspy-container ul li{
    font-family: syncopate;
    font-weight: bold;
    color: black;
    font-size: 1.2rem;
    padding: 1rem;
}
.table-of-contents a {
    color: black;
}
.table-of-contents a:hover {
    color: black;
    border-left: 2px solid var(--my-color-green);
}
.table-of-contents a.active {
    border-left: 4px solid var(--my-color-green);
}
/**** Responsive Scrollspy: ****/
@media screen and (max-height: 450px){
    /* this is only for 450px and less.*/
    #id_scrollspy-container ul li{
        font-size: 2.66vh;
        padding: 2.22vh;
    }
    #id_scrollspy-container .c_divider{
        display: none;
    }
}/*@medie*/



/*** Sidenav: (phones) ***/
#id_sidenav-trigger{
    position: fixed;
    top: 1rem;
    right: 1rem;
    padding: 1rem;
    border-radius: 50%;
    z-index: 100;
    /* shadow: */
    border-bottom: 1px solid rgba(40, 40, 40, 0.25);
    -webkit-box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    /* blur-filter: */
    -webkit-backdrop-filter: blur(0.75rem);
    backdrop-filter: blur(0.75rem);
    background-color: rgba(255, 255, 255, 0.5);
}
#id_sidenav-trigger i{
    color: rgb(51, 51, 51);
    top: 0.2rem;
    /* make clickable bigger: */
    display: inline-block;
    position: relative;
    padding: 0.5em;
    margin: -0.5em;
}
#slide-out a i{
    font-size: 1.33rem;
    margin-right: 0;
}



/*** Collapsible: ***/
#id_set1-title1{
    grid-area: a_set1-title1;
}
#id_set1-img1{
    grid-area: a_set1-img1;
}
#id_set1-section1{
    grid-area: a_set1-section1;
}
#id_set1-section2{
    grid-area: a_set1-section2;
}
#id_set1-section3{
    grid-area: a_set1-section3;
}

#id_set2-title1{
    grid-area: a_set2-title1;
}
#id_set2-img1{
    grid-area: a_set2-img1;
}
#id_set2-section1{
    grid-area: a_set2-section1;
}
#id_set2-section2{
    grid-area: a_set2-section2;
}
#id_set2-section3{
    grid-area: a_set2-section3;
}

#id_set3-title1{
    grid-area: a_set3-title1;
}
#id_set3-img1{
    grid-area: a_set3-img1;
}
#id_set3-section1{
    grid-area: a_set3-section1;
}

.c_set-title{
    font-size: min(16.5rem, calc(( 100vw - var(--my-skeleton-scrollspy-width)) * 0.08));
    padding-top: 5rem;
}
.c_img-container{
    position: relative;
    width: 100%;
    height: 100%;
}
.c_set-img{
    position: sticky;
    top: 0%;
    width: 100%;
    padding: 5rem 1vw 2rem 1vw;
}
.c_set-section{
    border-top: 5px solid;
    border-image: linear-gradient(135deg, var(--my-color-light-green), 25%, transparent) 1;
}

#id_main h3{
    padding: 0rem  2.25rem 0rem  2.25rem;
}
#id_main .c_epilogue{
    padding: 0rem  2.25rem 0rem  2.25rem;
    margin-bottom: 0;
}

/* overriding materialize.css: */
.collapsible-header {
    background-color: rgba(255, 255, 255, 0.7);
    border-bottom: 1px solid rgba(40, 40, 40, 0.25);
}
.collapsible.popout>li {
    font-size: 1.33rem;
}
.collapsible-header i {
    font-size: 2.0rem;
}
.collapsible-body {
    background-color: rgba(255, 255, 255, 0.7);
    border-bottom: 1px solid rgba(40, 40, 40, 0.25);
}
blockquote {
    border-left: 5px solid var(--my-color-light-green);
}

#id_main{
    width: 100%;
    padding: 10rem 2rem;
    /* grid: */
    display: grid;
    grid-template-columns: 1fr 1fr 3fr 1fr;
    /*grid-auto-rows: minmax(10px, auto);*/ /* just so we can see the rows.*/
    grid-auto-rows: minmax(min-content, max-content);
    /* areas: */
    grid-template-areas:
        "a_set1-img1   a_set1-title1    a_set1-title1      a_set1-title1  "
        "a_set1-img1   a_set1-section1  a_set1-section1    .              "
        "a_set1-img1   .                a_set1-section2    a_set1-section2"
        "a_set1-img1   a_set1-section3  a_set1-section3    .              "

        "a_set2-img1   a_set2-title1    a_set2-title1      a_set2-title1  "
        "a_set2-img1   a_set2-section1  a_set2-section1    .              "
        "a_set2-img1   .                a_set2-section2    a_set2-section2"
        "a_set2-img1   a_set2-section3  a_set2-section3    .              "
        
        "a_set3-img1   a_set3-title1    a_set3-title1      a_set3-title1  "
        "a_set3-img1   a_set3-section1  a_set3-section1    .              ";
}
/**** Responsive main: ****/
/* materializecss: s=0px-600px, m=601px-992px, l=993px-1200px and xl=1201 & above. */
@media screen and (max-width: 600px){
    /* this is only for 600px and less.*/
    #id_main{
        grid-template-columns: 5fr 1fr;
        /* areas: */
        grid-template-areas:
            "a_set1-title1    a_set1-img1"
            "a_set1-section1  a_set1-section1"
            "a_set1-section2  a_set1-section2"
            "a_set1-section3  a_set1-section3"

            "a_set2-title1    a_set2-img1"
            "a_set2-section1  a_set2-section1"
            "a_set2-section2  a_set2-section2"
            "a_set2-section3  a_set2-section3"

            "a_set3-title1    a_set3-img1"
            "a_set3-section1  a_set3-section1";
    }
    .c_set-title{
        font-size: calc( 80vw * 0.08);
        padding-left: 1vw;
    }
    .c_set-img{
        padding: 5rem 0 0 0;
    }
}/*@medie*/



/*** Footer: ***/
#id_footer-area1{
    grid-area: a_footer-area1;
    background-image: url(simi.svg);
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: 100% 60%;
    padding: 1rem 4vw 1rem 0.2rem;
}
#id_footer-area2{
    grid-area: a_footer-area2;
    background-image: url(stadsetning.svg);
    background-repeat: no-repeat;
    background-size: 75%;
    background-position: 100% 60%;
    padding: 1rem 4vw 1rem 0.2rem;
}
#id_footer-area3{
    grid-area: a_footer-area3;
    padding: 1rem 4vw 1rem 0.2rem;
}
#id_footer-spacer{
    grid-area: a_footer-spacer;
}
#id_footer-bottom{
    grid-area: a_footer-bottom;
    background-color: var(--my-color-light-green);
}
#id_footer-bottom .c_th_left{
    text-align: right;
}

#id_footer h4{
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0;
}
#id_footer p{
    margin: 0;
}

#id_footer {
    background-image: url(logo.svg);
    background-repeat: no-repeat;
    background-size: auto 40%;
    background-position: top 40% right calc((( 100vw - var(--my-skeleton-scrollspy-width)) / 3 ) / 1.75);
    width: 100%;
    color: #ffffff;
    padding: 1rem 0 0 0;
    font-weight: bold;
    /* grid: */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr var(--my-skeleton-scrollspy-width);
    grid-auto-rows: minmax(min-content, max-content);
    justify-items: center;
    /* areas: */
    grid-template-areas:
        "a_footer-area1   a_footer-area2   a_footer-area3   a_footer-spacer"
        "a_footer-bottom  a_footer-bottom  a_footer-bottom  a_footer-bottom";
}
/**** Responsive footer: ****/
/* materializecss: s=0px-600px, m=601px-992px, l=993px-1200px and xl=1201 & above. */
@media screen and (max-width: 600px){
    /* this is only for 600px and less.*/
    #id_footer{
        grid-template-columns: 1fr minmax(max-content, 20rem) 1fr;
        justify-items: start;
        /* areas: */
        grid-template-areas:
            "a_footer-spacer  a_footer-area1 ."
            "a_footer-spacer  a_footer-area2 ."
            "a_footer-spacer  a_footer-area3 ."
            "a_footer-bottom  a_footer-bottom a_footer-bottom";
    }
    #id_footer {
        background-image: none;
    }
    #id_footer-area1{
        background-size: auto 70%;
        background-position: 100% 70%;
        width: 100%;
    }
    #id_footer-area2{
        background-size: auto 70%;
        background-position: 20% 50%;
        width: 100%;
        padding-left: 50%;
    }
    #id_footer-area3{
        background-image: url(logo.svg);
        background-repeat: no-repeat;
        background-size: auto 50%;
        background-position: 100% 60%;
        width: 100%;
    }
}/*@medie*/



/*** Text & Font: ***/
.c_font-syncopate{
    font-family: syncopate;
}
h3{
    font-size: 1.75rem;
}
h4{
    font-size: 1.3rem;
    margin: 0;
    line-height: 1.7;
}
p{
    font-size: 1.25rem;
}



/*** Other Styles ***/
.c_overlayer{
    border-bottom: 1px solid rgba(40, 40, 40, 0.25);
    -webkit-box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    /* blur-filter: */
    -webkit-backdrop-filter: blur(0.75rem);
    backdrop-filter: blur(0.75rem);
    background-color: rgba(255, 255, 255, 0.5);
}